@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.scss';

html, body {
  height: 100%;
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.4;
  // font-family: Inter, sans-serif;
  font-size: 16px;
}
